{
  "env": {
    "node": {
      "presets": [["env", {
        "targets": { "node": "6" }
      }]]
    },
    "node-es": {
      "presets": [["env", {
        "targets": { "node": "8" }
      }]]
    },
    "browser": {
      "presets": [["env", {
        "targets": { "browsers": "last 2 versions" }
      }]]
    },
    "browser-es": {
      "presets": [["env", {
        "targets": { "browsers": "last 2 versions" },
        "modules": false
      }]]
    }
  },
  "plugins": ["transform-object-rest-spread"]
}
